html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}
.right-user {
    border-right: 1px solid #dfe6e9;
}
.jumbotron-header {
    /* The image used */
    background-image: url("/Content/images/emailflights_flight_ss_1.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    border-radius:0px;
}
.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
#form-search {
    color: #fff !important;
}
.form-book {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    background-origin: border-box;
}
