USE [C:\USERS\NTDSIVAL\SOURCE\REPOS\DATVEMAYBAY\DATVEMAYBAY\APP_DATA\DATVEMAYBAYDB.MDF]
GO
/****** Object:  Table [dbo].[CHITIETDATVE]    Script Date: 5/21/2018 7:54:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDATVE](
	[MA_KHACHHANG] [int] NOT NULL,
	[MAVE] [int] NOT NULL,
	[NGAYDAT] [datetime] NULL,
 CONSTRAINT [PK_CHITIETDATVE] PRIMARY KEY CLUSTERED 
(
	[MA_KHACHHANG] ASC,
	[MAVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUYENBAY]    Script Date: 5/21/2018 7:54:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENBAY](
	[MA_CHUYENBAY] [int] IDENTITY(1,1) NOT NULL,
	[MA_TUYENBAY] [int] NOT NULL,
	[MA_MAYBAY] [int] NOT NULL,
	[TEN_CHUYENBAY] [nvarchar](30) NULL,
	[NGAYBAY_CHUYENBAY] [datetime] NULL,
	[GIOBAY_CHUYENBAY] [time](7) NULL,
 CONSTRAINT [PK_CHUYENBAY] PRIMARY KEY CLUSTERED 
(
	[MA_CHUYENBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GHE]    Script Date: 5/21/2018 7:54:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GHE](
	[MA_GHE] [int] IDENTITY(1,1) NOT NULL,
	[MA_LOAIGHE] [int] NOT NULL,
	[MA_MAYBAY] [int] NOT NULL,
	[SOHIEU_GHE] [nvarchar](30) NULL,
	[TINHTRANG_GHE] [bit] NULL,
 CONSTRAINT [PK_GHE] PRIMARY KEY CLUSTERED 
(
	[MA_GHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 5/21/2018 7:54:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MA_KHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[TEN_KHACHHANG] [nvarchar](30) NULL,
	[SDT_KHACHHANG] [char](15) NULL,
	[EMAIL_KHACHHANG] [nvarchar](100) NULL,
	[GIOITINH_KHACHHANG] [bit] NULL,
	[TINHTRANG_KHACHHANG] [bit] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MA_KHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIGHE]    Script Date: 5/21/2018 7:54:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIGHE](
	[MA_LOAIGHE] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LOAIGHE] [nvarchar](200) NULL,
	[PHANTRAMGIA_LOAIGHE] [real] NULL,
 CONSTRAINT [PK_LOAIGHE] PRIMARY KEY CLUSTERED 
(
	[MA_LOAIGHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIKHACH]    Script Date: 5/21/2018 7:54:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKHACH](
	[MA_LOAIKHACH] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LOAIKHACH] [nvarchar](200) NULL,
	[PHANTRAMGIA_LOAIKHACH] [real] NULL,
	[TINHTRANG_LOAIKHACH] [bit] NULL,
 CONSTRAINT [PK_LOAIKHACH] PRIMARY KEY CLUSTERED 
(
	[MA_LOAIKHACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAYBAY]    Script Date: 5/21/2018 7:54:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAYBAY](
	[MA_MAYBAY] [int] IDENTITY(1,1) NOT NULL,
	[SOHIEU_MAYBAY] [nvarchar](30) NULL,
	[TINHTRANG_MAYBAY] [bit] NULL,
 CONSTRAINT [PK_MAYBAY] PRIMARY KEY CLUSTERED 
(
	[MA_MAYBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUOCGIA]    Script Date: 5/21/2018 7:54:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUOCGIA](
	[MA_QUOCGIA] [int] IDENTITY(1,1) NOT NULL,
	[TEN_QUOCGIA] [nvarchar](30) NULL,
	[TINHTRANG_QUOCGIA] [bit] NULL,
 CONSTRAINT [PK_QUOCGIA] PRIMARY KEY CLUSTERED 
(
	[MA_QUOCGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANBAY]    Script Date: 5/21/2018 7:54:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANBAY](
	[MA_SANBAY] [int] IDENTITY(1,1) NOT NULL,
	[MA_QUOCGIA] [int] NOT NULL,
	[TEN_SANBAY] [nvarchar](200) NULL,
	[TINHTRANG_SANBAY] [bit] NULL,
	[DIACHI_SANBAY] [nvarchar](300) NULL,
 CONSTRAINT [PK_SANBAY] PRIMARY KEY CLUSTERED 
(
	[MA_SANBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 5/21/2018 7:54:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MA_TAIKHOAN] [int] IDENTITY(1,1) NOT NULL,
	[MA_KHACHHANG] [int] NULL,
	[EMAIL_TAIKHOAN] [nvarchar](100) NULL,
	[MATKHAU_TAIKHOAN] [nvarchar](32) NULL,
	[TINHTRANG_TAIKHOAN] [bit] NULL,
	[ISADMIN] [bit] NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MA_TAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUYENBAY]    Script Date: 5/21/2018 7:54:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUYENBAY](
	[MA_TUYENBAY] [int] IDENTITY(1,1) NOT NULL,
	[MA_SANBAY_DI] [int] NULL,
	[MA_SANBAY_DEN] [int] NULL,
	[TEN_TUYENBAY] [nvarchar](50) NULL,
	[GIOITHIEU_TUYENBAY] [nvarchar](1000) NULL,
	[GIA_TUYENBAY] [int] NULL,
	[THOIGIANBAY] [int] NULL,
	[HINHANH_TUYENBAY] [nvarchar](500) NULL,
 CONSTRAINT [PK_TUYENBAY] PRIMARY KEY CLUSTERED 
(
	[MA_TUYENBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VE]    Script Date: 5/21/2018 7:54:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VE](
	[MAVE] [int] IDENTITY(1,1) NOT NULL,
	[MA_CHUYENBAY] [int] NOT NULL,
	[MA_GHE] [int] NOT NULL,
	[NGAYTAO_VE] [datetime] NULL,
 CONSTRAINT [PK_VE] PRIMARY KEY CLUSTERED 
(
	[MAVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETDATVE] ([MA_KHACHHANG], [MAVE], [NGAYDAT]) VALUES (6, 2, CAST(N'2018-05-13T17:04:04.707' AS DateTime))
INSERT [dbo].[CHITIETDATVE] ([MA_KHACHHANG], [MAVE], [NGAYDAT]) VALUES (6, 8, CAST(N'2018-05-13T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CHUYENBAY] ON 

INSERT [dbo].[CHUYENBAY] ([MA_CHUYENBAY], [MA_TUYENBAY], [MA_MAYBAY], [TEN_CHUYENBAY], [NGAYBAY_CHUYENBAY], [GIOBAY_CHUYENBAY]) VALUES (1, 1, 1, N'Chuyến bay trong ngay', CAST(N'2018-05-12T00:00:00.000' AS DateTime), CAST(N'01:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[CHUYENBAY] OFF
SET IDENTITY_INSERT [dbo].[GHE] ON 

INSERT [dbo].[GHE] ([MA_GHE], [MA_LOAIGHE], [MA_MAYBAY], [SOHIEU_GHE], [TINHTRANG_GHE]) VALUES (1, 1, 1, N'A01', 1)
INSERT [dbo].[GHE] ([MA_GHE], [MA_LOAIGHE], [MA_MAYBAY], [SOHIEU_GHE], [TINHTRANG_GHE]) VALUES (2, 1, 1, N'A02', 1)
INSERT [dbo].[GHE] ([MA_GHE], [MA_LOAIGHE], [MA_MAYBAY], [SOHIEU_GHE], [TINHTRANG_GHE]) VALUES (3, 1, 1, N'A03', 1)
SET IDENTITY_INSERT [dbo].[GHE] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MA_KHACHHANG], [TEN_KHACHHANG], [SDT_KHACHHANG], [EMAIL_KHACHHANG], [GIOITINH_KHACHHANG], [TINHTRANG_KHACHHANG]) VALUES (1, N'admin', NULL, N'admin@gmail.com', 1, 1)
INSERT [dbo].[KHACHHANG] ([MA_KHACHHANG], [TEN_KHACHHANG], [SDT_KHACHHANG], [EMAIL_KHACHHANG], [GIOITINH_KHACHHANG], [TINHTRANG_KHACHHANG]) VALUES (6, N'Nguyen Minh Anh', N'123123123      ', N'minhanh@gmail.com', 1, 1)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[LOAIGHE] ON 

INSERT [dbo].[LOAIGHE] ([MA_LOAIGHE], [TEN_LOAIGHE], [PHANTRAMGIA_LOAIGHE]) VALUES (1, N'Supper Vip', 1.7)
INSERT [dbo].[LOAIGHE] ([MA_LOAIGHE], [TEN_LOAIGHE], [PHANTRAMGIA_LOAIGHE]) VALUES (2, N'Vip', 1.5)
INSERT [dbo].[LOAIGHE] ([MA_LOAIGHE], [TEN_LOAIGHE], [PHANTRAMGIA_LOAIGHE]) VALUES (3, N'Normal', 1)
SET IDENTITY_INSERT [dbo].[LOAIGHE] OFF
SET IDENTITY_INSERT [dbo].[LOAIKHACH] ON 

INSERT [dbo].[LOAIKHACH] ([MA_LOAIKHACH], [TEN_LOAIKHACH], [PHANTRAMGIA_LOAIKHACH], [TINHTRANG_LOAIKHACH]) VALUES (2, N'Trẻ  em 2', 0.9, 1)
INSERT [dbo].[LOAIKHACH] ([MA_LOAIKHACH], [TEN_LOAIKHACH], [PHANTRAMGIA_LOAIKHACH], [TINHTRANG_LOAIKHACH]) VALUES (3, N'Người Lớn', 1, 1)
SET IDENTITY_INSERT [dbo].[LOAIKHACH] OFF
SET IDENTITY_INSERT [dbo].[MAYBAY] ON 

INSERT [dbo].[MAYBAY] ([MA_MAYBAY], [SOHIEU_MAYBAY], [TINHTRANG_MAYBAY]) VALUES (1, N'AH11', 1)
INSERT [dbo].[MAYBAY] ([MA_MAYBAY], [SOHIEU_MAYBAY], [TINHTRANG_MAYBAY]) VALUES (2, N'DT14', 1)
INSERT [dbo].[MAYBAY] ([MA_MAYBAY], [SOHIEU_MAYBAY], [TINHTRANG_MAYBAY]) VALUES (3, N'SH235', 1)
SET IDENTITY_INSERT [dbo].[MAYBAY] OFF
SET IDENTITY_INSERT [dbo].[QUOCGIA] ON 

INSERT [dbo].[QUOCGIA] ([MA_QUOCGIA], [TEN_QUOCGIA], [TINHTRANG_QUOCGIA]) VALUES (1, N'Việt Nam', 1)
INSERT [dbo].[QUOCGIA] ([MA_QUOCGIA], [TEN_QUOCGIA], [TINHTRANG_QUOCGIA]) VALUES (2, N'Nhật Bản', 1)
SET IDENTITY_INSERT [dbo].[QUOCGIA] OFF
SET IDENTITY_INSERT [dbo].[SANBAY] ON 

INSERT [dbo].[SANBAY] ([MA_SANBAY], [MA_QUOCGIA], [TEN_SANBAY], [TINHTRANG_SANBAY], [DIACHI_SANBAY]) VALUES (1, 1, N'Sân bay quốc tế Cần Thơ', 1, N'179B Võ Văn Kiệt, Bình Thủy, Trà An Bình Thủy Can Tho')
INSERT [dbo].[SANBAY] ([MA_SANBAY], [MA_QUOCGIA], [TEN_SANBAY], [TINHTRANG_SANBAY], [DIACHI_SANBAY]) VALUES (2, 1, N'Sân bay quốc tế Nội Bài', 1, N'Phú Minh, Sóc Sơn, Hà Nội')
SET IDENTITY_INSERT [dbo].[SANBAY] OFF
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([MA_TAIKHOAN], [MA_KHACHHANG], [EMAIL_TAIKHOAN], [MATKHAU_TAIKHOAN], [TINHTRANG_TAIKHOAN], [ISADMIN]) VALUES (1, 1, N'admin@gmail.com', N'123', 1, 1)
INSERT [dbo].[TAIKHOAN] ([MA_TAIKHOAN], [MA_KHACHHANG], [EMAIL_TAIKHOAN], [MATKHAU_TAIKHOAN], [TINHTRANG_TAIKHOAN], [ISADMIN]) VALUES (5, 6, N'minhanh@gmail.com', N'123', 1, 0)
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
SET IDENTITY_INSERT [dbo].[TUYENBAY] ON 

INSERT [dbo].[TUYENBAY] ([MA_TUYENBAY], [MA_SANBAY_DI], [MA_SANBAY_DEN], [TEN_TUYENBAY], [GIOITHIEU_TUYENBAY], [GIA_TUYENBAY], [THOIGIANBAY], [HINHANH_TUYENBAY]) VALUES (1, 1, 2, N'Tuyến định mệnh', N'chuyên bay việt nam', 12000, 5, N'images/Screenshot (50).png')
INSERT [dbo].[TUYENBAY] ([MA_TUYENBAY], [MA_SANBAY_DI], [MA_SANBAY_DEN], [TEN_TUYENBAY], [GIOITHIEU_TUYENBAY], [GIA_TUYENBAY], [THOIGIANBAY], [HINHANH_TUYENBAY]) VALUES (2, 2, 1, N'tuyến định mệnh 2', NULL, 12000, 5, NULL)
SET IDENTITY_INSERT [dbo].[TUYENBAY] OFF
SET IDENTITY_INSERT [dbo].[VE] ON 

INSERT [dbo].[VE] ([MAVE], [MA_CHUYENBAY], [MA_GHE], [NGAYTAO_VE]) VALUES (1, 1, 1, CAST(N'2018-05-12T03:58:30.353' AS DateTime))
INSERT [dbo].[VE] ([MAVE], [MA_CHUYENBAY], [MA_GHE], [NGAYTAO_VE]) VALUES (2, 1, 2, CAST(N'2018-05-12T03:58:30.353' AS DateTime))
INSERT [dbo].[VE] ([MAVE], [MA_CHUYENBAY], [MA_GHE], [NGAYTAO_VE]) VALUES (3, 1, 3, CAST(N'2018-05-12T03:58:30.353' AS DateTime))
SET IDENTITY_INSERT [dbo].[VE] OFF
ALTER TABLE [dbo].[CHITIETDATVE]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETD_CHITIETDA_KHACHHAN] FOREIGN KEY([MA_KHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MA_KHACHHANG])
GO
ALTER TABLE [dbo].[CHITIETDATVE] CHECK CONSTRAINT [FK_CHITIETD_CHITIETDA_KHACHHAN]
GO
ALTER TABLE [dbo].[CHITIETDATVE]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETD_CHITIETDA_VE] FOREIGN KEY([MAVE])
REFERENCES [dbo].[VE] ([MAVE])
GO
ALTER TABLE [dbo].[CHITIETDATVE] CHECK CONSTRAINT [FK_CHITIETD_CHITIETDA_VE]
GO
ALTER TABLE [dbo].[CHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENBA_RELATIONS_MAYBAY] FOREIGN KEY([MA_MAYBAY])
REFERENCES [dbo].[MAYBAY] ([MA_MAYBAY])
GO
ALTER TABLE [dbo].[CHUYENBAY] CHECK CONSTRAINT [FK_CHUYENBA_RELATIONS_MAYBAY]
GO
ALTER TABLE [dbo].[CHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENBA_RELATIONS_TUYENBAY] FOREIGN KEY([MA_TUYENBAY])
REFERENCES [dbo].[TUYENBAY] ([MA_TUYENBAY])
GO
ALTER TABLE [dbo].[CHUYENBAY] CHECK CONSTRAINT [FK_CHUYENBA_RELATIONS_TUYENBAY]
GO
ALTER TABLE [dbo].[GHE]  WITH CHECK ADD  CONSTRAINT [FK_GHE_RELATIONS_LOAIGHE] FOREIGN KEY([MA_LOAIGHE])
REFERENCES [dbo].[LOAIGHE] ([MA_LOAIGHE])
GO
ALTER TABLE [dbo].[GHE] CHECK CONSTRAINT [FK_GHE_RELATIONS_LOAIGHE]
GO
ALTER TABLE [dbo].[GHE]  WITH CHECK ADD  CONSTRAINT [FK_GHE_RELATIONS_MAYBAY] FOREIGN KEY([MA_MAYBAY])
REFERENCES [dbo].[MAYBAY] ([MA_MAYBAY])
GO
ALTER TABLE [dbo].[GHE] CHECK CONSTRAINT [FK_GHE_RELATIONS_MAYBAY]
GO
ALTER TABLE [dbo].[SANBAY]  WITH CHECK ADD  CONSTRAINT [FK_SANBAY_RELATIONS_QUOCGIA] FOREIGN KEY([MA_QUOCGIA])
REFERENCES [dbo].[QUOCGIA] ([MA_QUOCGIA])
GO
ALTER TABLE [dbo].[SANBAY] CHECK CONSTRAINT [FK_SANBAY_RELATIONS_QUOCGIA]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_RELATIONS_KHACHHAN] FOREIGN KEY([MA_KHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MA_KHACHHANG])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_RELATIONS_KHACHHAN]
GO
ALTER TABLE [dbo].[TUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_TUYENBAY_DEN_SANBAY] FOREIGN KEY([MA_SANBAY_DI])
REFERENCES [dbo].[SANBAY] ([MA_SANBAY])
GO
ALTER TABLE [dbo].[TUYENBAY] CHECK CONSTRAINT [FK_TUYENBAY_DEN_SANBAY]
GO
ALTER TABLE [dbo].[TUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_TUYENBAY_DI_SANBAY] FOREIGN KEY([MA_SANBAY_DEN])
REFERENCES [dbo].[SANBAY] ([MA_SANBAY])
GO
ALTER TABLE [dbo].[TUYENBAY] CHECK CONSTRAINT [FK_TUYENBAY_DI_SANBAY]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_RELATIONS_CHUYENBA] FOREIGN KEY([MA_CHUYENBAY])
REFERENCES [dbo].[CHUYENBAY] ([MA_CHUYENBAY])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_RELATIONS_CHUYENBA]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_RELATIONS_GHE] FOREIGN KEY([MA_GHE])
REFERENCES [dbo].[GHE] ([MA_GHE])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_RELATIONS_GHE]
GO
/****** Object:  StoredProcedure [dbo].[danhSachVe]    Script Date: 5/21/2018 7:54:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[danhSachVe]
	@chuyenbay int,
	@loaighe int
AS
	begin
		Select v.MAVE, g.SOHIEU_GHE,(tb.GIA_TUYENBAY * lg.PHANTRAMGIA_LOAIGHE) as GIAVE from VE v
			inner join GHE g on v.MA_GHE = g.MA_GHE
			inner join LOAIGHE lg on g.MA_LOAIGHE = lg.MA_LOAIGHE
			inner join CHUYENBAY cb on v.MA_CHUYENBAY = cb.MA_CHUYENBAY
			inner join TUYENBAY tb on tb.MA_TUYENBAY = cb.MA_TUYENBAY
			where v.MA_CHUYENBAY = @chuyenbay and lg.MA_LOAIGHE = @loaighe and v.MA_GHE not in(select CHITIETDATVE.MAVE from CHITIETDATVE)

	end
GO
/****** Object:  StoredProcedure [dbo].[danhsachvekhachhang]    Script Date: 5/21/2018 7:54:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[danhsachvekhachhang]
	@makhachhang int
AS
	
	select g.SOHIEU_GHE, lg.TEN_LOAIGHE,cb.NGAYBAY_CHUYENBAY, 
			cb.GIOBAY_CHUYENBAY,sb1.TEN_SANBAY as SBDI, sb2.TEN_SANBAY as SBDEN
	from CHITIETDATVE ctv 
			inner join ve v on v.MAVE = ctv.MAVE
			inner join GHE g on g.MA_GHE = v.MAVE
			inner join LOAIGHE lg on g.MA_LOAIGHE = lg.MA_LOAIGHE
			inner join CHUYENBAY cb on cb.MA_CHUYENBAY = v.MA_CHUYENBAY
			inner join TUYENBAY tb on tb.MA_TUYENBAY = cb.MA_CHUYENBAY
			inner join SANBAY sb1 on sb1.MA_SANBAY = tb.MA_SANBAY_DI
			inner join SANBAY sb2 on sb2.MA_SANBAY = tb.MA_SANBAY_DEN
	where ctv.MA_KHACHHANG = @makhachhang;
GO
/****** Object:  StoredProcedure [dbo].[danhsachvekhdat]    Script Date: 5/21/2018 7:54:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[danhsachvekhdat]
AS
	select * from CHITIETDATVE ORDER BY NGAYDAT;
GO
/****** Object:  StoredProcedure [dbo].[getIDTuyen]    Script Date: 5/21/2018 7:54:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getIDTuyen]
	@sanbaydi int,
	@sanbayden int
AS
	select * from TUYENBAY where MA_SANBAY_DI = @sanbaydi and MA_SANBAY_DEN = @sanbayden
GO
/****** Object:  StoredProcedure [dbo].[getSanBay]    Script Date: 5/21/2018 7:54:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getSanBay]
@matuyennbay int
as
select s1.TEN_SANBAY as SAN_BAI_DI, s2.TEN_SANBAY as SAN_BAY_DEN 
		from TUYENBAY t inner join SANBAY s1 on  t.MA_SANBAY_DI = s1.MA_SANBAY 
						inner join SANBAY s2 on t.MA_SANBAY_DEN = s2.MA_SANBAY
						where t.MA_TUYENBAY = @matuyennbay
GO
/****** Object:  StoredProcedure [dbo].[search]    Script Date: 5/21/2018 7:54:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[search] @ngaydi date,@noidi int,@noiden int
as 
--declare @ngaydi date, @tuyen int
--set @ngaydi = '5/12/2018'
--set @tuyen = 1
begin	
	select count(lg.MA_LOAIGHE) as SL,lg.MA_LOAIGHE, lg.TEN_LOAIGHE, 
			cb.NGAYBAY_CHUYENBAY, cb.GIOBAY_CHUYENBAY,(tb.GIA_TUYENBAY * lg.PHANTRAMGIA_LOAIGHE) as GIAVE,
			tb.HINHANH_TUYENBAY,cb.MA_CHUYENBAY
	from VE v	inner join GHE g on  v.MA_GHE = g.MA_GHE
				inner join LOAIGHE lg on g.MA_LOAIGHE = lg.MA_LOAIGHE
				inner join CHUYENBAY cb on v.MA_CHUYENBAY = cb.MA_CHUYENBAY
				inner join TUYENBAY tb on tb.MA_TUYENBAY = cb.MA_TUYENBAY
	where MAVE not in (select MAVE from CHITIETDATVE) 
		and cb.NGAYBAY_CHUYENBAY >= @ngaydi
		and tb.MA_SANBAY_DI = @noidi
		and tb.MA_SANBAY_DEN = @noiden
	group by lg.MA_LOAIGHE, lg.TEN_LOAIGHE, cb.NGAYBAY_CHUYENBAY, cb.GIOBAY_CHUYENBAY,tb.GIA_TUYENBAY , lg.PHANTRAMGIA_LOAIGHE,tb.HINHANH_TUYENBAY,cb.MA_CHUYENBAY
end
GO
/****** Object:  StoredProcedure [dbo].[sp_taove]    Script Date: 5/21/2018 7:54:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_taove] 
@machuyen int
as
declare @err_message nvarchar(255),
		@ma_tuyenbay int,
		@ma_maybay int,
		@c_ma_ghe int, @c_ma_maybay int ,@c_tinhtrang_ghe bit
DECLARE ghe CURSOR FOR Select MA_GHE,MA_MAYBAY,TINHTRANG_GHE From GHE

if not exists (select * from CHUYENBAY where MA_CHUYENBAY = @machuyen )
begin 
	SET @err_message = @machuyen +' chua duoc tao '
	RAISERROR (@err_message, 11,1)
end
else
begin 
	set @ma_tuyenbay = (select MA_TUYENBAY from CHUYENBAY where MA_CHUYENBAY = @machuyen);
	set @ma_maybay = (select MA_MAYBAY from CHUYENBAY where MA_CHUYENBAY = @machuyen);
	
	OPEN ghe

	FETCH NEXT FROM ghe INTO @c_ma_ghe,@c_ma_maybay,@c_tinhtrang_ghe

	WHILE @@FETCH_STATUS = 0
	BEGIN
		if(@c_ma_maybay = @ma_maybay and @c_tinhtrang_ghe=1)
		begin
			insert into VE (MA_CHUYENBAY,MA_GHE,NGAYTAO_VE) values(@machuyen,@c_ma_ghe,GETDATE())
		end
		FETCH NEXT FROM ghe INTO @c_ma_ghe,@c_ma_maybay,@c_tinhtrang_ghe
	END
	CLOSE ghe
	DEALLOCATE ghe
end
GO
