@model ModelPlain.EF.LOAIGHE

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<section class="content pt-3">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-danger">
                <div class="card-header">
                    <h3 class="card-title">Xoá chuyến bay</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Tên Loại Ghế:</label>
                        @Html.DisplayFor(model => model.TEN_LOAIGHE)
                    </div>
                    <div class="form-group">
                        <label>Phần Trăm:</label>
                        @Html.DisplayFor(model => model.PHANTRAMGIA_LOAIGHE)
                    </div>                                 
                </div>
                <div class="card-footer">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-actions no-color">
                            <input type="submit" value="Xoá" class="btn btn-danger" /> |
                            @Html.ActionLink("Về danh sách", "Index")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
