@model IEnumerable<ModelPlain.EF.danhSachVe_Result>
@{
    ViewBag.Title = "DatVe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container text-center">
    <div class="row">
        <div class="col-md-6 offset-3">
            @if (Model != null)
            {

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Số Hiệu Ghế</th>
                            <th scope="col">Giá Vé</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => item.SOHIEU_GHE)</td>
                            <td> <div style="color:#FF0000">@Html.DisplayFor(model => item.GIAVE) VNĐ</div></td>
                            <td><a class="btn btn-outline-success" href="~/Home/DatVe/?MAVE=@item.MAVE">Đặt Vé</a></td>
                        </tr>
                    }
                </table>
            }

        </div>
    </div>
    
</div>